@import "tailwindcss";

@theme {
  --font-sans: "Poppins", "sans-serif";

  --animate-floatRight: floatRight 2.5s infinite;
  --animate-opacityPulse: opacityPulse 2.5s infinite;

  @keyframes floatRight {
    0% {
      transform: translatex(0px);
    }
    50% {
      transform: translatex(8px);
    }
    100% {
      transform: translatex(0px);
    }
  }

  @keyframes opacityPulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
}
